In [2]:
## Imports and constants
import os
import sys

import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import gensim.downloader as api

import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import warnings

from preprocessing import lstm_preprocessing
#from zm_lstm_helper import *
#from zm_lstm_model import SimpleLSTM

DEVICE = torch.device("cuda" if torch.cuda.is_available() else "cpu")
torch.manual_seed(20) 
np.random.seed(20)

MAX_SEQ_LEN = 200
BATCH_SIZE = 10

warnings.filterwarnings('ignore')

In [4]:
dataset = pd.read_csv(os.getcwd() + '/processed_data.csv')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
dataset.head()

,Title,Name,Review Date,Airline,Verified,Reviews,Type of Traveller,Month Flown,Route,Class,Seat Comfort,Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Recommended,Sentiment,Year,review_length,Reviews_1,Reviews_4,Reviews_2
0,Flight was amazing,Alison Soetantyo,2024-03-01,Singapore Airlines,True,Flight was amazing. The crew onboard this fl...,Solo Leisure,December 2023,Jakarta to Singapore,Business Class,4,4,4,4,4,yes,2,2024,467,Flight amazing. The crew onboard flight welcom...,flight amaz crew onboard flight welcom gave go...,flight amazing crew onboard flight welcoming g...
1,seats on this aircraft are dreadful,Robert Watson,2024-02-21,Singapore Airlines,True,Booking an emergency exit seat still meant h...,Solo Leisure,February 2024,Phuket to Singapore,Economy Class,5,3,4,4,1,no,0,2024,249,Booking emergency exit seat still meant huge d...,book emerg exit seat still meant huge discomfo...,booking emergency exit seat still meant huge d...
2,Food was plentiful and tasty,S Han,2024-02-20,Singapore Airlines,True,Excellent performance on all fronts. I would...,Family Leisure,February 2024,Siem Reap to Singapore,Economy Class,1,5,2,1,5,yes,2,2024,196,Excellent performance fronts. I would definite...,excel perform front would definit choos use ai...,excellent performance fronts would definitely ...
3,“how much food was available,D Laynes,2024-02-19,Singapore Airlines,True,Pretty comfortable flight considering I was f...,Solo Leisure,February 2024,Singapore to London Heathrow,Economy Class,5,5,5,5,5,yes,2,2024,991,Pretty comfortable flight considering I flying...,pretti comfort flight consid fli economi class...,pretty comfortable flight considering flying e...
4,“service was consistently good”,A Othman,2024-02-19,Singapore Airlines,True,The service was consistently good from start ...,Family Leisure,February 2024,Singapore to Phnom Penh,Economy Class,5,5,5,5,5,yes,2,2024,310,The service consistently good start finish. Th...,servic consist good start finish cabin crew sh...,service consistently good start finish cabin c...